services:
  etcd:
    image: bitnami/etcd:3.5.0
    environment:
      - ALLOW_NONE_AUTHENTICATION=yes
      - ETCD_ADVERTISE_CLIENT_URLS=http://etcd:2379
    ports:
      - "2379:2379"
    networks:
      - apisix

  apisix:
    image: apache/apisix:3.8.0-debian
    volumes:
      - ./apisix_conf/config.yaml:/usr/local/apisix/conf/config.yaml:ro
    depends_on:
      - etcd
    ports:
      - "9080:9080"
      - "9180:9180"
      - "9091:9091"
    networks:
      - apisix

  apisix-dashboard:
    image: apache/apisix-dashboard:3.0.1
    volumes:
      - ./dashboard_conf/conf.yaml:/usr/local/apisix-dashboard/conf/conf.yaml:ro
    ports:
      - "9000:9000"
    networks:
      - apisix

  prometheus:
    image: prom/prometheus:v2.45.0
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
    networks:
      - apisix

  grafana:
    image: grafana/grafana:9.5.3
    ports:
      - "3000:3000"
    networks:
      - apisix

  jaeger:
    image: jaegertracing/all-in-one:1.45
    ports:
      - "16686:16686"
      - "14268:14268"
    networks:
      - apisix

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.8.1
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    ports:
      - "9200:9200"
    networks:
      - apisix

  logstash:
    image: docker.elastic.co/logstash/logstash:8.8.1
    volumes:
      - ./monitoring/logstash.conf:/usr/share/logstash/pipeline/logstash.conf:ro
    depends_on:
      - elasticsearch
    networks:
      - apisix

  kibana:
    image: docker.elastic.co/kibana/kibana:8.8.1
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch
    networks:
      - apisix

networks:
  apisix:
    driver: bridge
